// Headings

/*

  Extend placeholder %line

  %line{
    content: '';
    display: block;
    
    height: 2px;
    width: 50px;
    margin: 26px auto 38px auto;

    background-color: $black;
  };

*/

.headingH2{
  font-family: $Raleway;
  font-size: 2.35em;
  font-weight: $bold;
  &:after{
    @extend %line;
    margin: 20px auto 60px 0;
  }
}

.headingH3{
  font-weight: $bold;
  font-size: .76em;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.margin-contact{
  margin-bottom: 30px;
}

.margin-subscribe{
  margin-bottom: 21px;
}