.site-main{
  display: flex;
  justify-content: space-between;
  padding: 32px 120px 0 126px;
}

.site-main-home-link{
  background-color: $black;
  color: $white;
  font-family: $Montserrat;
  font-weight: $bold;
  font-size: $_16;
  letter-spacing: 5.7px;
  padding: 1.1em .7em;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav-menu-button{
  color: black;
  font-family: $Montserrat;
  font-size: .60em;
  font-weight: $bold;
  padding: 4px 0;
  align-self: self-start;
  text-transform: uppercase;
  border-top: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
  margin: 4px 4px 0 0;
  letter-spacing: 1px;
}