// HEADER

.site-main{
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 32px 120px 0 126px;
}

.site-main-home-link{
  background-color: $black;
  color: $white;

  padding: 1.1em .7em;

  font-family: $Montserrat;
  font-weight: $bold;
  font-size: $_16;
  letter-spacing: 5.7px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav-menu-button{
  color: $white;

  font-family: $Montserrat;
  font-size: .60em;
  font-weight: $bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  align-self: flex-start;
  margin: 4px 4px 0 0;
  padding: 4px 0;

  border-top: 3px solid currentColor;
  border-bottom: 3px solid currentColor;

  &:hover{
    cursor: pointer;
  }
}

.site-hero{
  color: $white;

  font-family: $Raleway;
  text-align: right;

  padding-bottom: 144px;
}

.site-hero-heading{
  font-size: $_16 * 8.625; 
  font-weight: $thin;
  letter-spacing: 13px;
  text-transform: uppercase;

  padding-top: 139px;
  padding-right: 96px;
}

.site-hero-baseline{
  font-size: $_16 * 2.375;
  font-weight: $bold;
  letter-spacing: 4.9px;
  text-indent: 17px;

  padding-right: 105px;
}


@media screen and (max-width: 768px){
  .site-main{
    padding: 32px 20px 0;
  }
}

@media screen and (max-width: 470px){
  .site-hero-heading{
    font-size: $_16 * 5;
  }
}

@media screen and (max-width: 350px){
  .site-hero-heading{
    font-size: $_16 * 3;
  }
}