// MAIN NAV

/*

@Extend placeholder %menu-icons

  %menu-icons{
    content: '';
    display: inline-block;
    width: 36px;
    height: 23px;
    margin-top: 4px;

    background-repeat: no-repeat;
    background-size: contain;
  };

*/

.site-nav{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(34, 34, 34, .9);

  padding: 7em 0 0 11.8em;
}

.site-nav-list{
  line-height: 2.7em;

  list-style-type: none;
}

.site-nav-link{
  color: $white;
  opacity: .3;

  font-family: $Montserrat;
  font-size: 2em;
  font-weight: $bold;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;

  transition: all .500s ease;

  &:hover{
    opacity: 1;

    text-decoration: underline;
  }
}

.site-nav-menu-button{
  color: $white;

  font-family: $Montserrat;
  font-weight: $bold;
  text-transform: uppercase;

  z-index: 1;  

  &:hover{
    cursor: pointer;
  }
}

.site-nav-menu-button.closed{
  &:before{
    @extend %menu-icons;

    background-image: url('.././../quotes/img/icons/menu-open.png');
  };
};

.site-nav-menu-button.open{
  &:before{
    @extend %menu-icons;

    background-image: url('.././../quotes/img/icons/menu-close.png');
  };
};




@media screen and (max-width: 600px){
  .site-nav{
    padding: 7em 20px 0;
  }
}