// MAIN NAV

.site-nav{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(34, 34, 34, .2);
}

.site-nav-list{

}

.site-nav-list-item{

}

.site-nav-close-button{
  color: $white;
  font-family: $Montserrat;
  font-weight: $bold;
  font-size: .5em;

  position: absolute;
  top: 25px;
  right: 130px;

  text-transform: uppercase;

  &:before{
    content: '';
    display: block;
    padding-bottom: 5px;
    width: 25px;
    height: 25px;
    background-image: url('.././../quotes/img/icons/menu-close.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 768px){
  .site-nav-close-button{
    right: 20px;
  }
}