// Posters

.posters-inner{
  display: flex;
  justify-content: space-between;
}

.posters-wrapper{
  padding: 20px 62px;
}

.posters-image{
  width: 100%;
}

// Show extra on hover
.posters-content-show-extra{
  position: relative;
  overflow: hidden;
  
  &:hover .posters-extra{
    transition: bottom .2s ease;
    bottom: 20px;
  }
  
}

.posters-extra{
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;

  padding: 0 50px 0 20px;
  transition: bottom .2s ease;

  display: flex;
  justify-content: space-between;
}

.posters-content-text-one{
  border: 1px solid green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));

  color: $white;

  font-family: $TW;
  font-weight: $bold;
  font-size: 2.9em;
  letter-spacing: 5px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

.posters-extra-link{
  color: $white;

  font-family: $Montserrat;
  font-weight: $bold;
  text-decoration: none;
  text-transform: uppercase;
  
  &:hover{
    text-decoration: underline;
  }
}

.posters-extra-link-buy{
  font-size: .8em;
  letter-spacing: 2px;
}

.posters-extra-link-share{
  font-size: 0.6em;
  letter-spacing: 2px;
}

.posters-extra-share{
  position: relative;
}

.arrow{
  display: inline-block;
  width: 22px;
  height: 20px;

  position: absolute;
  top: 0;
  right: -30px;

  background-image: url('.././../quotes/img/arrow.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.posters-content-left{
  border: 1px solid red;
  width: 40%;
}

.posters-content-right{
  border: 1px solid blue;
  width: 53%;
}

.posters-content-right-top{
  margin-bottom: 30px;
}

.posters-content-right-bottom{
  display: flex;
  justify-content: space-between;
}

.posters-content-right-bottom-one,
.posters-content-right-bottom-two{
  width: 44%;
}