// Posters

.posters-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.posters-wrapper{
  position: relative;

  padding: 20px 62px 76px 62px;

  background: #ffffff;
  background: linear-gradient(#ffffff 0%, #eaeef1 100%);
  background: -webkit-linear-gradient(#ffffff 0%, #eaeef1 100%);
  background: -moz-linear-gradient(#ffffff 0%, #eaeef1 100%);
}

.posters-image{
  width: 100%;
}

.posters-extra{
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;

  padding: 0 50px 0 20px;
  -webkit-transition: bottom .2s ease;
  transition: bottom .2s ease;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

// Show extra on hover
.posters-content-show-extra{
  position: relative;
  overflow: hidden;
  
  &:hover .posters-extra{
    -webkit-transition: bottom .2s ease;
    transition: bottom .2s ease;
    bottom: 20px;
  }
  
}

// Text for each poster

.posters-content-text-one{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate((-50%, -50%));
          transform: translate((-50%, -50%));

  color: $white;

  font-family: $TW;
  font-weight: $bold;
  font-size: 2.9em;
  letter-spacing: 5px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

.posters-content-text-two{
  position: absolute;
  top: 47px;
  left: 51px;

  line-height: 1.4;
}

.posters-content-text-two-quote{
  font-size: 1.3em;
  font-style: italic;
  font-weight: $semi-bold;
  letter-spacing: .8px;
}

.posters-content-text-three{
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);

  font-family: $GreatLakesNF;
  font-size: 1.2em;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.posters-content-text-four{
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -58%);
          transform: translate(-50%, -58%);

  color: $white;

  font-family: $Lato;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

.posters-content-text-four-top{ 
  display: block;
  margin-bottom: 4px;
  
  font-weight: $bold;
}

.posters-content-text-four-bottom{
  display: block;

  font-weight: $max-bold;
}

.posters-content-text-author{
  display: block;
  margin-top: 6px;

  font-size: .85em;
}


// Poster extra links

.posters-extra-link{
  color: $white;

  font-family: $Montserrat;
  font-weight: $bold;
  text-decoration: none;
  text-transform: uppercase;
  
  &:hover{
    text-decoration: underline;
  }
}

.posters-extra-link-buy{
  font-size: .8em;
  letter-spacing: 2px;
}

.posters-extra-link-share{
  font-size: 0.6em;
  letter-spacing: 2px;
}

.posters-extra-share{
  position: relative;
}

.arrow{
  display: inline-block;
  width: 22px;
  height: 20px;

  position: absolute;
  top: 0;
  right: -30px;

  background-image: url('.././../img/arrow.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.posters-content-left{
  width: 40%;
}

.posters-content-right{
  width: 53%;
}

.posters-content-right-top{
  margin-bottom: 30px;
}

.posters-content-right-bottom{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posters-content-right-bottom-one,
.posters-content-right-bottom-two{
  width: 44%;
}

@media screen and (max-width: 998px){

  .posters-wrapper{
    padding: 20px 5px;
  }

  .posters-inner{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }

  .posters-extra{
    bottom: 20px;
  }


  .posters-content-right-bottom-one,
  .posters-content-right-bottom-two{
    width: 100%;
  } 

}

@media screen and (max-width: 600px){

  .posters-content-left,
  .posters-content-right{
    width: 100%;
  }


}

@media screen and (max-width: 468px){

  .posters-content-right-bottom{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

}