// Quotes from movies

.quotes-movies{
  padding-top: 76px;
}

/*

ul {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

li{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

div{
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid pink;

}

*/