// Quotes from movies

.quotes-movies{
  padding-top: 76px;
}

.quotes-movies-wrapper{
  border: 1px solid $greyBorder;
  margin-bottom: 99px;

  font-family: $Raleway;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quotes-movies-item{
  width: 50%;  

  padding: 31px;
}

.quotes-movies-title{
  font-size: 1.17em;
  font-weight: $bold;
  text-transform: uppercase;
}

.quotes-movies-quote{
  display: block;

  font-size: .8em;
  font-weight: $medium;
  line-height: 1.6;

  padding-bottom: 18px;
  padding-top: 22px;
}

.quotes-movies-movie{
  font-size: .78em;
  font-weight: $regular;
}

// Borders

.item-0{
  border-right: 2px solid $greyBorder;
  border-bottom: 2px solid $greyBorder;
}

.item-1{
  border-bottom: 2px solid $greyBorder;
}

.item-2{
  border-right: 2px solid $greyBorder;
 
}

// Button

.quotes-movies-bottom{
  display: flex;
  justify-content: center;
}

.quotes-movies-button{
  background: transparent;
  border: 1px solid $black;
  border-radius: 3px;

  font-family: $Montserrat;
  font-size: .94em;
  font-weight: $bold;
  text-transform: uppercase;

  padding: .5em 1.4em;

  &:hover{
    cursor: pointer;
    background: $greyBorder;
  }
}

.ajax-loader{
  text-align: center;
}


@media screen and (max-width: 885px){

  .quotes-movies{
    padding-right: 10px;
    padding-left: 10px;
  }
}

 @media screen and (max-width: 620px){

  .quotes-movies-item{
    width: 100%;
  }

  .item-0,
  .item-2{
    border-right: 0;
  }

 }

 @media screen and (max-width: 550px){

  .quotes-movies-wrapper{
    flex-direction: column;
  }

  .item-3{
    border-top: 2px solid $greyBorder;
  }

 }