// HEADER SLIDER

.slider{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 72px;
  width: 114px;
}

.slider-button{
  display: inline-block;
  height: 10px;
  width: 10px;

  background-color: $black;
  border-radius: 50%;
  
  &:hover{
    cursor: pointer;
  }
}

.slider-button.active{
  background-color: $white;
}

.slider-img{
  background-image: url('.././../quotes/img/header-slider/pic-0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}