// Fonts


// Font Families
$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$GreatLakesNF : 'greatlakesnfregular', sans-serif;
$Raleway: 'Raleway', sans-serif;

@font-face {
  font-family: 'greatlakesnfregular';
  src: url('../../fonts/GREALN__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Font Sizes
$_16: 1em;

// Font Weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;