// Fonts


// Font Families
$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$GreatLakesNF : 'greatlakesnfregular', sans-serif;
$Raleway: 'Raleway', sans-serif;

@font-face {
  font-family: 'greatlakesnfregular';
  src: url('../../fonts/GREALN__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Font Sizes
$_16: 16px;

// Font Weights
$_700: 700;